.modal-single--influencer {
  -webkit-backface-visibility: hidden;
  .modal-content {
    border: none;
    border-radius: 0;
    @include media-breakpoint-up(sm) {
      padding: 20px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 30px 30px;
    }
    @include media-breakpoint-down(sm) {
      border-radius: 0;
    }
  }
  .modal-dialog {
    max-width: none;
    overflow: hidden;
    margin: 10px auto 140px;
    @include media-breakpoint-up(lg) {
      max-width: 1200px;
    }
  }
}